<section class="main-content">
  <div class="login-card">

    <h2>{{ 'AUTH.LOGIN.TITLE' | translate }}</h2>

    <div class="success-message" *ngIf="successMsg">
      {{ successMsg }}
    </div>

    <div class="error-message" *ngIf="errorMsg">
      {{ errorMsg }}
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

      <div class="form-group">
        <label>{{ 'AUTH.COMMON.EMAIL' | translate }}</label>
        <input
          type="email"
          formControlName="email"
          required
        >
        <div class="error" *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
          <span *ngIf="loginForm.get('email')?.errors?.['required']">{{ 'AUTH.VALIDATION.EMAIL_REQUIRED' | translate }}</span>
          <span *ngIf="loginForm.get('email')?.errors?.['email']">{{ 'AUTH.VALIDATION.EMAIL_INVALID' | translate }}</span>
        </div>
      </div>

      <div class="form-group">
        <label>{{ 'AUTH.COMMON.PASSWORD' | translate }}</label>

        <div class="password-wrapper">
          <input
            [type]="showPassword ? 'text' : 'password'"
            formControlName="password"
            required
          >

          <i
            class="fa-solid"
            [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'"
            (click)="togglePassword()"
          ></i>
        </div>
        <div class="error" *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
          <span *ngIf="loginForm.get('password')?.errors?.['required']">{{ 'AUTH.VALIDATION.PASSWORD_REQUIRED' | translate }}</span>
          <span *ngIf="loginForm.get('password')?.errors?.['minlength']">{{ 'AUTH.VALIDATION.PASSWORD_MIN' | translate }}</span>
        </div>

        <div class="form-meta">
          <a routerLink="/forgot-password" class="forgot-link">{{ 'AUTH.FORGOT.TITLE' | translate }}?</a>
        </div>
      </div>

      <button type="submit" class="btn-login" [disabled]="loading || loginForm.invalid">

        <span *ngIf="loading" class="spinner"></span>

        <span *ngIf="!loading">{{ 'AUTH.LOGIN.SUBMIT' | translate }}</span>
        <span *ngIf="loading">{{ 'COMMON.LOADING' | translate }}</span>

      </button>

    </form>

    <p class="auth-link">
      {{ 'AUTH.REGISTER.NO_ACCOUNT' | translate }}
      <a routerLink="/auth/register">{{ 'NAV.SIGNUP' | translate }}</a>
    </p>

  </div>
</section>
